= {
    margin: 0;
    padding: 0;
}

body {
    background: color #000005;;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 60vh;
    height: 80vh;
    margin: 0 auto;
}

.container {
    background-color:white;
    width: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:top 20%;
}

img{
    width: 350px;
    height:350px;
    border-radius: 175px;
    border: 2px solid black;
    margin-top: 65px;
    margin-bottom: 50px;
}
.name{
    font-size: 50px;
}
.socials{
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style: none;
    margin-bottom: 20px;
    margin-top: 20px;
}
